{% if product %}
  <div
    data-wearon-tryon
    data-product-id="{{ product.id }}"
    data-product-handle="{{ product.handle }}"
  ></div>
{% endif %}

{% schema %}
{
  "name": "WearOn Try-On",
  "target": "section",
  "javascript": "tryon-widget.js",
  "settings": []
}
{% endschema %}
